<template name="flexboxLayout">
    <div class="viewerSection">
        <div class="sidebarMenu sidebar-left {{#if leftSidebarOpen}}sidebar-open{{/if}}">
            {{> studyBrowser (clone this)}}
        </div>
        <div class="mainContent {{#if leftSidebarOpen}}sidebar-left-open{{/if}} {{#if rightSidebarOpen}}sidebar-right-open{{/if}}">
            {{> viewerMain (clone this)}}
        </div>
        <div class="sidebarMenu sidebar-right {{#if rightSidebarOpen}}sidebar-open{{/if}}">
          {{#if rightSidebarReportMenu}}
            {{> measurementTable (clone this)}}
          {{/if}}
          {{#if rightSidebarSegmentationMenu}}
            <div class="segmentation-menu">
              {{> React component=SegmentationMenu
                key=segmentationMenuId
                ImportCallbackOrComponent=segmentationMenuImportComponent
                ExportCallbackOrComponent=segmentationMenuExportComponent
              }}
            </div>
          {{/if}}
        </div>
    </div>
</template>
